
.conta {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(90deg, #374471,#307c9d,#5eb2b5);
  background: linear-gradient(90deg, #374471,#307c9d,#5eb2b5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.titel {
  text-align: center;
  color: rgb(241, 238, 210);
}
  form input, form button {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
    background-color: rgb(255, 255, 255);
  }
  
  form button {
    background-color: #4CAF50;
    color: rgb(9, 1, 1);
    cursor: pointer;
  }

  